# Flutter/Dart/Pub
**/doc/api/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
build/
.packages
/pubspec.lock

# Android
**/android/**/gradle-wrapper.jar
**/android/.gradle
**/android/captures/
**/android/local.properties
**/android/key.properties

# iOS
**/ios/**/*.mode1v3
**/ios/**/*.mode2v3
**/ios/**/*.moved-aside
**/ios/**/*.pbxuser
**/ios/**/*.perspectivev3
**/ios/**/*.sync/
**/ios/**/.sconsign.dblite
**/ios/**/.tags*
**/ios/**/.vagrant/
**/ios/**/DerivedData/
**/ios/**/Flutter/App.framework
**/ios/**/Flutter/Flutter.framework
**/ios/**/Flutter/Generated.xcconfig
**/ios/**/Flutter/ephemeral/
**/ios/**/Pods/
**/ios/**/Runner/GeneratedPluginRegistrant.*
**/ios/**/.symlinks/

# IDE
.idea/
*.iml
*.ipr
*.iws
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Misc
*.log
*.pyc
.svn/
.history
.buildlog/
.coverage
coverage/

# Project-specific
consent_kit.md
